body {
  background-color: black;
  background-image: url("assets/bg.webp");
  background-repeat: repeat;
  background-size: 50%;
  background-attachment: fixed;
  color:antiquewhite;
  font-family: 'minecraft';
}

@font-face {
      font-family: 'minecraft';
      src: url('./assets/minecraft.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
}